# secret token (random token for proxy)
secret_token: 

# Oauth host configuration
oauth_host: https://aai-dev.egi.eu/oidc
oauth_client_id: aiidalab
oauth_client_secret:

# jupyterhub host (for OAuth redirect)
jh_host: https://aiidalab-demo.materialscloud.org
