# secret token (random token for proxy)
secret_token:
adminuser:

# OAuth host configuration
# (only needed in combination with OAuth authenticator)
jh_host: https://aiidalab-demo.materialscloud.org

oauth_host:
oauth_client_id:
oauth_client_secret:

